<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
    <p>You need to return {{data.howMany}} tokens</p>
    <div class="container">
        <div class="row m-1">
            <div class="col text-center" *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX','GOLD']">
                {{data.tokenState[token]}}
            </div>
        </div>
        <div class="row m-1">
            <div class="col" *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX','GOLD'], let i = index"
                 (click)="checkRemoveCoin(token, i, data.howMany)">
                <img src="assets/{{token}}.png" class="img-fluid" alt="Responsive image"
                     [ngStyle]="{'box-shadow':data.tokenState[token]> 0 ? '0 0 0 0.2rem aqua' : '0 0 0 0.2rem white'}"
                >
            </div>
        </div>
    </div>
</div>
