<div class="container-fluid container-sm" *ngIf="gameStateLocal != undefined">
<div class="container-fluid container-sm">
    <div class="row">
        <div class="col-sm-8">
            <div class="row m-1 ml-1 mr-1" *ngFor="let number1 of [0,1,2]">
                <div class="col pl-1 pr-1" (click)="isDisabled ?  null : checkReserveCardFromDeck(3-number1)">
                    <img src="assets/back-{{3-number1}}.png"
                         class="img-fluid w-100" alt="Responsive image"
                         [ngStyle]="{'box-shadow':gameStateLocal.isItReserveTime? '0 0 0 0.2rem yellow' : '0 0 0 0.2rem white'}">
                </div>
                <div #cardsDiv class="col pl-1 pr-1" *ngFor="let number2 of [0,1,2,3]"
                     (click)="isDisabled ?  null : checkAddCard(gameStateLocal.cardsOnTable[11- (number1 * 4 + number2)])"
                     [@pageAnimations]="{value: (!hasCardBeenTaken[11- (number1 * 4 + number2)] ? 'open' : 'close'),
                     params: { posX: giveTranslateX((number1 * 4 + number2)),
                     posY: giveTranslateY((number1 * 4 + number2))}}">
                    <img src="{{gameStateLocal.cardsOnTable[11- (number1 * 4 + number2)].graphic}}"
                         class="img-fluid w-100" alt="Responsive image"
                         [ngStyle]="{'box-shadow':!isDisabled && gameStateLocal.cardsOnTable[11- (number1 * 4 + number2)].clickable &&
                         gameStateLocal.isItMyTurn? (!gameStateLocal.isItReserveTime? '0 0 0 0.2rem aqua' : '0 0 0 0.2rem yellow') : '0 0 0 0.2rem white'}"
                    >
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row m-1 ml-1 mr-1">
                <div #cardsDiv class="col-2 col-sm pl-1 pr-1" *ngFor="let noble of gameStateLocal.nobles, let i = index"
                     [@pageAnimations]="{value: (!hasCardBeenTaken[12+i] ? 'open' : 'close'),
                     params: { posX: giveTranslateX((12 + i)),
                     posY: giveTranslateY((12 + i))}}">
                    <img [src]="noble.graphic" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class="row m-1">
                <div class="col text-center"
                     *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX','GOLD']">
                    {{gameStateLocal.tokens[token]}}
                </div>
                <div class="w-100"></div>
                <div #cardsDiv class="col" *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX'], let i = index"
                     (click)="checkAddCoin(token, i)"
                     [@pageAnimations]="{value: (!hasTokenBeenTaken[token] ? 'open' : 'close'),
                     params: { posX: giveTranslateX(12 + gameStateLocal.nobles.length + i),
                     posY: giveTranslateY(12 + gameStateLocal.nobles.length + i)}}">
                    <img src="assets/{{token}}.png" class="img-fluid" alt="Responsive image"
                         [ngStyle]="{'box-shadow':gameStateLocal.tokens[token]> 0 &&
                                 gameStateLocal.isItMyTurn &&
                                 !gameStateLocal.isItReserveTime? (token !== gameStateLocal.firstToken ?
                                 (token !== gameStateLocal.secondToken ? '0 0 0 0.2rem aqua' : '0 0 0 0.2rem white') :
                                 (gameStateLocal.tokens[token]> 3 && gameStateLocal.secondToken === undefined? '0 0 0 0.2rem brown' :
                                  '0 0 0 0.2rem white')) : '0 0 0 0.2rem white'}"
                    >
                </div>
                <div #cardsDiv class="col" (click)="checkAddGold('GOLD')"
                     [@pageAnimations]="{value: (!hasTokenBeenTaken['GOLD'] ? 'open' : 'close'),
                     params: { posX: giveTranslateX(12 + 5),
                     posY: giveTranslateY(12 + 5)}}">
                    <img src="assets/GOLD.png" class="img-fluid" alt="Responsive image"
                         [ngStyle]="{'box-shadow':gameStateLocal.isItMyTurn &&
                              gameStateLocal.firstToken === undefined &&
                              !gameStateLocal.isItReserveTime &&
                              cardsInHand.length < 3 ? '0 0 0 0.2rem aqua' : '0 0 0 0.2rem white'}">
                </div>
            </div>

            <div class="row m-1">
                <div class="col-4 mt-1 mb-1" *ngFor="let card of cardsInHand"
                     (click)="isDisabled ?  null : checkAddCard(card)">
                    <img src="{{card.graphic}}"
                         class="img-fluid crd" alt="Responsive image"
                         [ngStyle]="{'box-shadow':!isDisabled && card.clickable &&
                         gameStateLocal.isItMyTurn? '0 0 0 0.2rem aqua' : '0 0 0 0.2rem white'}"
                    >
                </div>
            </div>

            <div #playersDiv class="row m-1 border mt1-1 mb-1" *ngFor="let player of gameStateLocal.players"
                 [ngStyle]="{'box-shadow':player.playerName === gameStateLocal.currentPlayerName? '0 0 0 0.2rem red' : '0 0 0 0.2rem white'}">
                <div class="row m-1">
                    <div class="col-12">
                        Name {{player.playerName}}
                        Points {{player.points}}
                        Cards In Hand {{player.cardsInHand.length}}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col">
                        Cards
                    </div>
                    <div class="col {{token}} border"
                         *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX']">
                        {{player.cardsOwnedShort[token]}}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col" *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX','GOLD']">
                        <img src="assets/{{token}}.png" class="img-fluid crd" alt="Responsive image">
                    </div>
                    <div class="w-100"></div>
                    <div class="col text-center"
                         *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX','GOLD']">
                        {{player.tokens[token]}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
