<p>gameboard works!</p>
<table mdbTable borderless="true">
    <tr mdbTableCol>
        <td>{{gameStateLocal.cardsOnTable[11]}}</td>
        <td>{{gameStateLocal.cardsOnTable[10]}}</td>
        <td>{{gameStateLocal.cardsOnTable[9]}}</td>
        <td>{{gameStateLocal.cardsOnTable[8]}}</td>
    </tr>
    <tr mdbTableCol>
        <td>{{gameStateLocal.cardsOnTable[7]}}</td>
        <td>{{gameStateLocal.cardsOnTable[6]}}</td>
        <td>{{gameStateLocal.cardsOnTable[5]}}</td>
        <td>{{gameStateLocal.cardsOnTable[4]}}</td>
    </tr>
    <tr mdbTableCol>
        <td>{{gameStateLocal.cardsOnTable[3]}}</td>
        <td>{{gameStateLocal.cardsOnTable[2]}}</td>
        <td>{{gameStateLocal.cardsOnTable[1]}}</td>
        <td>{{gameStateLocal.cardsOnTable[0]}}</td>
    </tr>
</table>
