<p>gameboard works!</p>
<!--<div class="container">-->
<!--    <div class="row" *ngFor="let number1 of [0,1,2]">-->
<!--        <div class="col-sm" *ngFor="let number2 of [0,1,2,3]">-->
<!--            {{gameStateLocal.cardsOnTable[number1*4+number2]}}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <table mdbTable borderless="true">
                <tr mdbTableCol *ngFor="let number1 of [0,1,2]">
                    <td [ngStyle]="{'background-color':gameStateLocal.isItReserveTime? 'yellow' : 'white'}">
                        <div class="card" (click)="checkReserveCardFromDeck(3-number1)">
                            <div class="card-body">
                                <p class="card-text">
                                    {{3-number1}}
                                </p>
                            </div>
                        </div>
                    </td>
                    <td *ngFor="let number2 of [0,1,2,3]"
                        [ngStyle]="{'background-color':gameStateLocal.cardsOnTable[11- (number1 * 4 + number2)].clickable &&
                         gameStateLocal.isItMyTurn? (!gameStateLocal.isItReserveTime? 'aqua' : 'yellow') : 'white'}">
                        <div class="card" (click)="checkAddCard(gameStateLocal.cardsOnTable[11- (number1 * 4 + number2)])">

                            <!-- Card image -->
                            <!--                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">-->

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <!--                    <h4 class="card-title"><a>Card title</a></h4>-->
                                <!-- Text -->
                                <p class="card-text">
                                    Points {{gameStateLocal.cardsOnTable[11 - (number1 * 4 + number2)].points}}
                                    Produces {{gameStateLocal.cardsOnTable[11 - (number1 * 4 + number2)].produces}}
                                    D {{gameStateLocal.cardsOnTable[11 - (number1 * 4 + number2)].cost['DIAMOND']}}
                                    E {{gameStateLocal.cardsOnTable[11 - (number1 * 4 + number2)].cost['EMERALD']}}
                                    R {{gameStateLocal.cardsOnTable[11 - (number1 * 4 + number2)].cost['RUBY']}}
                                    S {{gameStateLocal.cardsOnTable[11 - (number1 * 4 + number2)].cost['SAPPHIRE']}}
                                    O {{gameStateLocal.cardsOnTable[11 - (number1 * 4 + number2)].cost['ONYX']}}
                                </p>
                                <!-- Button -->
                                <!--                    <a href="#" class="btn btn-primary">Button</a>-->

                            </div>

                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card" *ngFor="let card of cardsInHand"
             [ngStyle]="{'background-color':card.clickable &&
                         gameStateLocal.isItMyTurn? 'aqua' : 'white'}">
            <div class="card-body"
                 (click)="checkAddCard(card)">
                <p class="card-text">
                    Points {{card.points}}
                    Produces {{card.produces}}
                    D {{card.cost['DIAMOND']}}
                    E {{card.cost['EMERALD']}}
                    R {{card.cost['RUBY']}}
                    S {{card.cost['SAPPHIRE']}}
                    O {{card.cost['ONYX']}}
                <p class="card-text">
            </div>
        </div>

        <div class="card" *ngFor="let noble of gameStateLocal.nobles">
            <div class="card-body">
                Points {{noble.points}}
                D {{noble.cardCombination['DIAMOND']}}
                E {{noble.cardCombination['EMERALD']}}
                R {{noble.cardCombination['RUBY']}}
                S {{noble.cardCombination['SAPPHIRE']}}
                O {{noble.cardCombination['ONYX']}}
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <table mdbTable borderless="true" width="100%">
                        <tr mdbTableCol>
                            <td *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX','GOLD']">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-text">
                                            {{gameStateLocal.tokens[token]}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr mdbTableCol>
                            <td *ngFor="let token of ['DIAMOND','EMERALD','RUBY','SAPPHIRE','ONYX'], let i = index"
                                [ngStyle]="{'background-color':gameStateLocal.tokens[token]> 0 &&
                                 gameStateLocal.isItMyTurn &&
                                 !gameStateLocal.isItReserveTime? 'aqua' : 'white'}">
                                <div class="card"
                                     (click)="checkAddCoin(token, i)">
                                    <div class="card-body">
                                        <div class="card-text">
                                            {{token}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td [ngStyle]="{'background-color':gameStateLocal.tokens['GOLD']> 0 &&
                             gameStateLocal.isItMyTurn &&
                              gameStateLocal.firstToken === undefined &&
                              !gameStateLocal.isItReserveTime ? 'aqua' : 'white'}">
                                <div class="card"
                                     (click)="checkAddGold('GOLD')">
                                    <div class="card-body">
                                        <div class="card-text">
                                            GOLD
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card" *ngFor="let player of gameStateLocal.players">
                <div class="card-body">
                    Name {{player.playerName}}
                    Points {{player.points}}
                    Cards {{player.cardsOwnedShort}}
                    In Hand{{player.cardsInHand.length}}
                    D {{player.tokens['DIAMOND']}}
                    E {{player.tokens['EMERALD']}}
                    R {{player.tokens['RUBY']}}
                    S {{player.tokens['SAPPHIRE']}}
                    O {{player.tokens['ONYX']}}
                    G {{player.tokens['GOLD']}}
                </div>
            </div>
        </div>
    </div>
</div>
